<app-nav role="Admin"></app-nav>
<div class="container">
  <div class="row">

    <h2 class="text-success">
      Departments
      
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalDepartment" (click) = "onAdd()">
        Add department
      </button>
    </h2>

    <table class="table table-hover">
      <tr class="success">
        <td class="text-success"><b>Name</b></td>
        <td class="text-success"><b>Description</b></td>
        <td class="text-success"><b>Action</b></td>
      </tr>
      <tr *ngFor="let department of departments">
        <td>{{department.name}}</td>
        <td>{{department.description}}</td>
        <td>
          <a href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Edit this department" data-toggle="modal" data-target="#modalDepartment" (click) ="onUpdate(department)" >Edit</a> |
          <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete this department" (click)="onDelete(department._id)">Delete</a>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDepartment" tabindex="-1" role="dialog" aria-labelledby="modalDepartmentLabel">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalDepartmentLabel">Add new department</h4>
      </div>
      <div class="modal-body">
        <form id="f_Department" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
            <input type="hidden" name="status" [(ngModel)]="department.status" value="department.status">
          <div class="form-group" div class="form-group" [ngClass]="{
          'has-danger': name.invalid && (name.dirty || name.touched),
          'has-success': name.valid && (name.dirty || name.touched)
        }">
            <label>Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="department.name" required #name="ngModel">
            <span class="help-block" *ngIf="name.errors && (name.dirty || name.touched)">
              <p *ngIf="name.errors.required">Name is required</p>
            </span>
          </div>
          
          <div class="form-group" div class="form-group" [ngClass]="{
            'has-danger': description.invalid && (description.dirty || description.touched),
            'has-success': description.valid && (description.dirty || description.touched)
            }">
            <label>Description</label>
            <textarea type="text" rows="5" class="form-control" name="description" [(ngModel)]="department.description" required #description="ngModel"></textarea>

            <span class="help-block" *ngIf="description.errors && (description.dirty || description.touched)">
              <p *ngIf="description.errors.required">Description is required</p>
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="f_Department" [disabled] = "!f.valid">Save</button>
      </div>
    </div>
  </div>
</div>




<!-- <button (click) = "onDelete(1);">Delete</button> -->