<app-nav role="Employee"></app-nav>
<div class="container">
  <div class="row">
      <h2>Employees</h2>
      <table class="table table-hover">
        <tr class="success">
          <td><b>First Name</b></td>
          <td><b>Last Name</b></td>
          <td><b>Email</b></td>
          <td><b>Phone</b></td>
          <td><b>Action</b></td>
        </tr>
        <tr *ngFor="let employee of employees">
          <td>{{employee.firstname}}</td>
          <td>{{employee.lastname}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.phone}}</td>
          <td>
            <a href="#" class="text-primary">Edit</a> |
            <a href="#" class="text-danger">Delete</a>
          </td>
        </tr>
      </table>
  </div>
</div>



