<app-nav></app-nav>
<div class="container">
  <div class="row">

    <h2 class="text-success">
      Employees

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success" (click) = "onAdd()" data-toggle="modal" data-target="#modalEmployee">
        Add employee
      </button>
    </h2>

    <table class="table table-hover animated fadeInUp">
      <tr class="success">
        <td class="text-success">
          <b>First Name</b>
        </td>
        <td class="text-success">
          <b>Last Name</b>
        </td>
        <td class="text-success">
          <b>Email</b>
        </td>
        <td class="text-success">
          <b>Phone</b>
        </td>
        <td class="text-success">
          <b>Role</b>
        </td>
        <td class="text-success">
          <b>Action</b>
        </td>
      </tr>
      <tr *ngFor="let employee of employees">
        <td>{{employee.firstname}}</td>
        <td>{{employee.lastname}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.role}}</td>
        <td>{{employee.phone}}</td>
        <td>
          <a href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Edit this employee" data-toggle="modal" data-target="#modalEmployee" (click) ="onUpdate(employee)" >Edit</a> |
          <!-- <a href="#" class="btn btn-danger" (click) = "onDelete(employee._id)">Delete</a> -->
          <button class="btn btn-danger" (click) = "onDelete(employee._id)">Delete</button>
          <!-- <a href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Edit this department" data-toggle="modal" data-target="#modalDepartment" (click) ="onUpdate(department)" >Edit</a> |           -->
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Modal -->
<!-- <div>{{isShowDialog | json}}</div> -->
<div>
  <div class="modal fade" id="modalEmployee"  role="dialog" aria-labelledby="modalEmployeeLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modalEmployeeLabel">Employee info</h4>
        </div>
        <div class="modal-body">
          <form id="f_Employee" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="form-group" class="form-group">
              <label>First Name</label>
              <input type="text" rows="5" class="form-control" name="firstname" [(ngModel)]="employee.firstname" required #firstname="ngModel">
              <span class="help-block" *ngIf="firstname?.errors && (firstname.dirty || firstname.touched)">
                <p *ngIf="firstname.errors.required">Firstname is required</p>
              </span>
            </div>
            <div class="form-group" div class="form-group" [ngClass]="{
                'has-danger': lastname.invalid && (lastname.dirty || lastname.touched),
                'has-success': lastname.valid && (lastname.dirty || lastname.touched)
                }">
              <label>Last name</label>
              <input type="text" rows="5" class="form-control" name="lastname" [(ngModel)]="employee.lastname" required #lastname="ngModel">
  
              <span class="help-block" *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
                <p *ngIf="lastname.errors.required">Lastname is required</p>
              </span>
            </div>
            <div class="form-group" div class="form-group" [ngClass]="{
                'has-danger': email.invalid && (email.dirty || email.touched),
                'has-success': email.valid && (email.dirty || email.touched)
                }">
              <label>Email</label>
              <input type="text" rows="5" class="form-control" name="email" [(ngModel)]="employee.email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" #email="ngModel">
  
              <span class="help-block" *ngIf="email.errors && (email.dirty || email.touched)">
                <p *ngIf="email.errors.required">Email is required</p>
                <p *ngIf="email.errors.pattern">Email wrong format</p>
              </span>
            </div>
            <div class="form-group" class="form-group" [ngClass]="{
                'has-danger': phone.invalid && (phone.dirty || phone.touched),
                'has-success': phone.valid && (phone.dirty || phone.touched)
                }">
              <label>Phone</label>
              <input type="text" rows="5" class="form-control" name="phone" [(ngModel)]="employee.phone" required #phone="ngModel">
  
              <span class="help-block" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                <p *ngIf="phone.errors.required">Phone is required</p>
              </span>
            </div>
            <div *ngIf="role !== 'hr'" class="form-group" class="form-group" [ngClass]="{
              'has-danger': role.invalid && (role.dirty || role.touched),
              'has-success': role.valid && (role.dirty || role.touched)
              }">
              <label>Role</label>
              <select class="form-control" name="role" [(ngModel)]="employee.role" required #role="ngModel">
                <option value="admin">Admin</option>
                <option value="hr">HR</option>
                <option value="employee">Employee</option>
              </select>

              <span class="help-block" *ngIf="role.errors && (role.dirty || role.touched)">
                <p *ngIf="role.errors.required">Role is required</p>
              </span>
            </div>
            <div class="form-group" *ngIf="!employee.firstname">
              <label>Password</label>
              <input type="password" rows="5" class="form-control" name="password" [(ngModel)]="employee.password" required minlength="6" #password="ngModel">
              <span class="help-block" *ngIf="password?.errors && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required">Password is required</p>
                <p *ngIf="password.errors.minlength">Minimum is 6 words</p>
              </span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_close">Close</button>
          <button type="submit" class="btn btn-primary" form="f_Employee" [disabled]="!f.valid">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- {{employee | json}} -->
</div>





<!-- <button (click) = "onDelete(1);">Delete</button> -->