<app-nav role="HR"></app-nav>
<div class="container">
  <div class="row">
      <h2 class="text-success">Employees</h2>
      <table class="table table-hover">
        <tr class="success">
          <td class="text-success"><b>First Name</b></td>
          <td class="text-success"><b>Last Name</b></td>
          <td class="text-success"><b>Email</b></td>
          <td class="text-success"><b>Phone</b></td>
          <td class="text-success"><b>Action</b></td>
        </tr>
        <tr *ngFor="let employee of employees">
          <td>{{employee.firstname}}</td>
          <td>{{employee.lastname}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.phone}}</td>
          <td>
            <a href="#" class="btn btn-primary">Edit</a> |
            <a href="#" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      </table>
  </div>
</div>



