<div class="login_container">
  <section id="login">
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-12"></div>
          <div class="col-xs-12 col-md-4 col-sm-12">
              <div class="">
                <h1>Log in with your email account</h1>
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="Password">
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-success btn-block" value="Log in">
                    </form>
                    <hr>
              </div>
        </div> <!-- /.col-xs-12 -->
        <div class="col-xs-12 col-md-4 col-sm-12"></div>
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section>
</div>